body {
    margin: 0; /* Убираем отступы по умолчанию у body */
    background-color: white; /* Устанавливаем белый фон страницы */
}

.navbar {
    display: flex;
    align-items: center;
    background-color: black;
    height: 120px;
    justify-content: center; /* Центрируем содержимое */
}

.navbar img {
    max-width: 220px;
    height: 70px;
    margin-right: 300px; /* Отодвигаем логотип влево */
}

.nav-list {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    display: flex; /* Используем flexbox для горизонтального расположения */
    font-size: 18px;
}

.nav-list li {
    margin-left: 20px; /* Отступ между пунктами меню */
}

.nav-list a {
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}